# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: catwizard
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: swapi-es
# "service" is the name of this project. This will also be added to your AWS resource names.
service: swapi-es

provider:
  name: aws
  runtime: nodejs20.x

functions:
  api:
    handler: app.handler # Specifies the handler in app.js
    events:
      - httpApi:
          path: /api/people
          method: get
      - httpApi:
          path: /api/people/{id}
          method: get
      - httpApi:
          path: /api/people
          method: post

plugins:
  - serverless-offline